# Created by https://www.gitignore.io/api/sbt,scala

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.idea/
.cache
.lib/
*.DS_Store

### Scala ###
*.class
*.log

# End of https://www.gitignore.io/api/sbt,scala

data/
results/
save/
*.csv
*.txt
*.pdf
*.json
